In [12]:
import pandas as pd
from Stocks import Stock

In [13]:
apple = Stock('AAPL', '2021-10-01', '2023-03-01')
apple.ticker_data

data from alpaca

              Open      High       Low   Close    Volume
2021-10-01  141.90  142.9200  139.1101  142.65  94529261
2021-10-04  141.76  142.2100  138.2700  139.14  97769370
2021-10-05  139.49  142.2400  139.3600  141.11  80661888
2021-10-06  139.47  142.1500  138.3700  142.00  82429201
2021-10-07  143.06  144.2150  142.7200  143.29  61607494
...            ...       ...       ...     ...       ...
2023-02-23  150.09  150.3400  147.2400  149.40  48412870
2023-02-24  147.11  147.1900  145.7202  146.71  55469643
2023-02-27  147.71  149.1700  147.4500  147.92  45007197
2023-02-28  147.05  149.0800  146.8300  147.41  50575615
2023-03-01  146.83  147.2285  145.0100  145.31  55536947

[355 rows x 5 columns]

In [15]:
vfv = Stock('VFV.TO', '2021-10-01', '2023-03-01')
vfv.ticker_data

data from alpaca
Data from alpaca not available, pulling from yahoo
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Volume
2021-10-01  97.099998  98.000000  96.279999  97.599998  251200
2021-10-04  97.139999  97.220001  95.519997  95.959999  255500
2021-10-05  96.400002  97.489998  96.260002  97.010002  115100
2021-10-06  96.500000  97.459999  96.230003  97.459999  200000
2021-10-07  98.349998  98.769997  97.879997  97.889999  148300
...               ...        ...        ...        ...     ...
2023-02-22  96.290001  96.500000  95.839996  96.120003  109400
2023-02-23  96.750000  96.750000  95.709999  96.529999  121500
2023-02-24  96.059998  96.190002  95.589996  95.989998  143600
2023-02-27  96.599998  96.809998  95.889999  96.059998  143200
2023-02-28  96.110001  96.730003  95.989998  96.269997  165100

[353 rows x 5 columns]